; Rename/copy to export_presets.cfg on a Mac after entering your own signing values.

[preset.0]

name="iOS"
platform="iOS"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/ios/ShinobiRogue.xcodeproj"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

application/app_store_team_id="REPLACE_WITH_10_CHAR_TEAM_ID"
application/bundle_identifier="com.example.shinobirogue"
application/short_version="1.0.47"
application/version="47"
application/min_ios_version="15.0"
application/export_project_only=true
architectures/arm64=true
icons/icon_1024x1024="res://icon_1024.png"
icons/app_store_1024x1024="res://icon_1024.png"
